<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-md-2 col-sm-1 col-1"></div>
  <div class="col-md-8 col-sm-10 col-10">
    <!-- Page Heading -->
    <h1 class="text-light mb-5">Workout Log</h1>

    <!-- Buttons -->
    <div class="mb-5">
      <a class="btn btn--primary" href="/workouts/new">+ Workout</a>
    </div>
  </div>
  <div class="col-2 col-sm-1 col-1"></div>
</div>

<% let workoutNum=1; %>

<!-- List of workouts -->
<% for (let workout of workouts) { %>
<div class="row">
  <!-- Entry title -->
  <div class="col-md-2 col-sm-1 col-1"></div>
  <div class="col-md-8 col-sm-10 col-10">
    <div
      class="card card--workout card--shadow"
      data-bs-toggle="collapse"
      data-bs-target="#workout-buttons-bs-<%=workoutNum%>"
      aria-expanded="false"
      aria-controls="#workout-buttons-bs-<%=workoutNum%>"
    >
      <h6 class="m-0">
        <%= workout.name %> - <%= temporalDate(workout.date).isoMonth%>/<%=
        temporalDate(workout.date).isoDay%>/<%=
        temporalDate(workout.date).isoYear%>
      </h6>
    </div>

    <!-- Buttons -->
    <div class="collapse my-3" id="workout-buttons-bs-<%=workoutNum%>">
      <div class="d-flex justify-content-between">
        <div>
          <a class="btn btn--border" href="/workouts/<%=workout._id%>">View</a>
          <a
            class="btn btn--border ms-2"
            href="/workouts/<%= workout._id%>/edit"
            >Edit</a
          >
        </div>

        <!-- Delete workout button -->
        <form action="/workouts/<%=workout._id%>?_method=DELETE" method="POST">
          <div>
            <button class="btn btn--svg p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="red"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-1 col-1"></div>
</div>
<% workoutNum++ %> <% } %>
