<% layout('layouts/boilerplate') %>

<div class="row mb-4">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= workout.workoutName %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= temporalDate.convertDate(workout.workoutDate).isoMonth%>-<%= temporalDate.convertDate(workout.workoutDate).isoDay%>-<%= temporalDate.convertDate(workout.workoutDate).isoYear%></h6>
              <p class="card-text">Notes:</p>
              <a href="/workouts" class="card-link btn btn-primary">Back to Log</a>
              <a href="/workouts/<%= workout._id%>/edit" class="card-link btn btn-info">Edit Workout</a>
              
                <form class="d-inline" action="/workouts/<%=workout._id%>?_method=DELETE" method="POST">
                    <button class="btn">      
                        <svg class="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </form>


            </div>

          </div>


    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">

        <form class="" action="/workouts/<%=workout._id%>/exercises" method="POST">
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="exerciseName" name="exercise[exerciseName]" placeholder="Add exercise">
                <div class="input-group-append">
                    <button class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                </div>
    
            </div>
        </form>

        <div class="card">
            <ul class="list-group list-group-flush">
            <% for (let exercise of workout.exercises) { %>
              <li class="list-group-item"><%=exercise.exerciseName%></li>
            <% } %>
        
            </ul>
          </div>

    </div>



</div>


